@charset "UTF-8";
.product-equipment {
  max-width: 335px;
  padding: 24px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.16);
  background: #fff;
}

.product-equipment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.product-equipment__item:hover .product-equipment__price .product-equipment__input-btn, .product-equipment__item:hover .product-equipment__price .product-equipment__text, .product-equipment__item:hover .product-equipment__text {
  border-color: #517a21;
  color: black;
}

.product-equipment__item:hover .product-equipment__price .product-equipment__input-btn:before, .product-equipment__item:hover .product-equipment__price .product-equipment__text:before, .product-equipment__item:hover .product-equipment__text:before {
  display: block;
  background-color: #517a21;
}

.product-equipment__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-equipment__text {
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.product-equipment__text--price::after {
  content: " грн";
}

.product-equipment__text--price-checked {
  color: #000;
  font-weight: bold;
}

.product-equipment__text--type::after {
  content: " г";
}

.product-equipment__input {
  display: none;
}

.product-equipment__input:checked + div {
  border: 1px solid #6ca22c;
}

.product-equipment__input:checked + div::before {
  display: block;
}

.product-equipment__input:checked ~ p {
  color: #000;
}

.product-equipment__input-btn {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid #999;
  position: relative;
  margin: 0 16px 0 0;
}

.product-equipment__input-btn::before {
  content: "";
  display: none;
  height: 8px;
  width: 8px;
  background-color: #6ca22c;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.product-equipment__value {
  color: #000;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
}

.product-equipment__value::after {
  content: " грн";
}

.product-equipment__footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-equipment__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6ca22c;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  padding: 5px 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  min-height: 48px;
  margin: 0 0 0 16px;
}

.product-equipment__btn:hover, .product-equipment__btn:focus {
  background-color: #517a21;
}

.product-equipment__btn p {
  display: block;
  margin: 0 0 0 8px;
}

.product-equipment__svg {
  display: block;
}
/*# sourceMappingURL=index.css.map */